{% extends 'base_alt.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Articles -{% endblock title %}
{% block content %}
{% include 'navbar_alt.html'%}

<div class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>Articles</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mx-auto">
        {% for list in articles %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="course_card">
                <div class="course_card_img"><img src="{{ list.image.url }}" alt="course" /></div>
                <div class="course_card_content">
                    <h3 class="title text-capitalize">{{ list.headline | safe }}</h3>
                    <p class="description">{{ list.content | safe | truncatewords_html:20 }}</p>
                </div>
                <div class="course_card_footer">
                    <a class="nav-item" href="{% url 'article_detail' list.slug %}">Learn More <i
                            class="las la-chevron-right"></i></a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.current_page_number }}" aria-disabled="true">Page
                {{ page_obj.number}} of {{page_obj.paginator.num_pages}} </a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-disabled="true">Last</a>
        </li>
        {% endif %}
        {% endif %}

    </ul>
</nav>

{% include 'footer.html'%}
{% endblock %}


<section class="details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header ">
                    <div class="a-hero mx-auto text-center">
                        <h3>
                            <span>Articles</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>