{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar.html'%}
<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header ">
                    <div class="a-hero mx-auto text-center">
                        <h3>
                            <span>ABOUT US</span>
                        </h3>
                        <nav class="bread" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mx-auto text-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="plan">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header plan-head">
                    <h3 class="mx-auto mb-4 text-center">
                        WHO ARE WE?
                    </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-image">
                                <img src="../../../static/img/about/1.png" class="img-fluid" alt="" srcset="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-text">
                                <p>
                                    <span class="brs">Shape n Tone 360</span> is an industry leader in health and
                                    fitness
                                    with experienced professional personal trainers,nutritionists and health & wellness
                                    experts (boasting over 500,000 working hours) well equipped with modern fitness
                                    training methods and nutritional knowledge to help you reach your goals and beyond.
                                </p>
                                <p>
                                    Whether you want to lose weight, tone up, gain lean muscle or you are happy as you
                                    are but would like a healthier lifestyle,
                                    <span class="brs">Shape n Tone 360</span> is the right choice for you.
                                </p>
                                <p>
                                    Our programs and workouts are structured to fit into your lifestyle.
                                    Our Trainers are great listeners, analysts and motivators who put clients results
                                    first and foremost. They recognise and adapt to the needs of the client and are
                                    flexible and creative enough to deal with any goal, barrier, aspiration and dream.

                                    Our trainers not only offer a variety of workouts, which is essential to keep you
                                    interested-they are aware that-too much variety might inhibit your progress.They
                                    will help you stick with a training programme long enough, that you see real
                                    results.They will equip you with both the physical
                                    resources and mental tools to push your boundaries, escape your inertia, and get the
                                    body you deserve.
                                </p>
                                <p>
                                    We transform every body for short term impact and real long term change.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="mx-auto mb-4 text-center">
                        HAPPY CUSTOMER SAYS
                    </h3>
                    <div class="plan-p mx-auto text-center">
                        <p>
                            Stretch your body to the limits and learn to calm your mind with my yoga and meditation
                            classes.
                            Build your strength and muscle mass
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-sm-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">
                                            Stretch your body to the limits and learn to calm your mind with my yoga and
                                            meditation classes. Build your strength and muscle mass.
                                        </div>
                                        <div class="media">
                                            <img src="../../../static/img/test/1.jpg" class="img-fluid mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Enock Maeba</b></div>
                                                    <div class="details">Web Developer / Kobby Technologies Ltd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">
                                            Stretch your body to the limits and learn to calm your mind with my yoga and
                                            meditation classes. Build your strength and muscle mass.
                                        </div>
                                        <div class="media">
                                            <img src="../../../static/img/test/1.jpg" class="img-fluid mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Enock Maeba</b></div>
                                                    <div class="details">Web Developer / Kobby Technologies Ltd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">
                                            Stretch your body to the limits and learn to calm your mind with my yoga and
                                            meditation classes. Build your strength and muscle mass.
                                        </div>
                                        <div class="media">
                                            <img src="../../../static/img/test/1.jpg" class="img-fluid mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Enock Maeba</b></div>
                                                    <div class="details">Web Developer / Kobby Technologies Ltd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">
                                            Stretch your body to the limits and learn to calm your mind with my yoga and
                                            meditation classes. Build your strength and muscle mass.
                                        </div>
                                        <div class="media">
                                            <img src="../../../static/img/test/1.jpg" class="img-fluid mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Enock Maeba</b></div>
                                                    <div class="details">Graphic Designer / Kobby Technologies Ltd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">
                                            Stretch your body to the limits and learn to calm your mind with my yoga and
                                            meditation classes. Build your strength and muscle mass.
                                        </div>
                                        <div class="media">
                                            <img src="../../../static/img/test/1.jpg" class="img-fluid mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Enock Maeba</b></div>
                                                    <div class="details">SEO Analyst / Kobby Technologies Ltd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">
                                            Stretch your body to the limits and learn to calm your mind with my yoga and
                                            meditation classes. Build your strength and muscle mass.
                                        </div>
                                        <div class="media">
                                            <img src="../../../static/img/test/1.jpg" class="img-fluid mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Enock Maeba</b></div>
                                                    <div class="details">Web Designer / Kobby Technologies Ltd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% include 'footer.html'%}
{% endblock %}