{% load static %}
<section class="banner">
    <div class="content">
      <div class="general-info">
        <p>Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Phasellus a est. Curabitur vestibulum aliquam leo. Sed cursus turpis vitae tortor. Fusce pharetra convallis urna. </p>
      </div>
      <div class="principal">
        <h1>This week's Highlight</h1>
        <a href="#" class="link-1 electronic">Check it <span>Out</span> </a>
        <p>Etiam vitae tortor <span>phasellus</span> morbi ac</p>
        <a href="#" class="link-2">Maecenas</a>
      </div>
      <picture>
        <img src="{% static 'img/2.png' %}" alt="" usemap="#image-map">
  
        <map name="image-map">
          <area target="_blank" alt="Washer" title="Washer" href="#" coords="8,158,10,257,88,257,90,159,79,129,22,128" shape="poly">
          <area target="_blank" alt="Refrigerator" title="Refrigerator" href="#" coords="97,227,95,35,115,31,131,31,148,31,159,31,173,35,174,225" shape="poly">
          <area target="_blank" alt="Stove" title="Stove" href="#" coords="182,156,191,138,191,131,257,130,258,138,266,154,263,253,183,251" shape="poly">
        </map>
  
      </picture>
      
    </div>
  </section>

  