{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<section class="details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header ">
                    <div class="a-hero mx-auto text-center">
                        <h3>
                            <span>About {{pro.title}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="details-head ">
                    <h4>{{pro.title}}</h4>
                </div>
                <div class="detailsTop my-3">
                    <p>Program Type: <span>{{pro.Program_Name}}</span></p>
                    <p>Level: <span>{{pro.level}}</span></p>
                    <p>Last Updated: <span>{{pro.last_update}}</span></p>
                </div>
                <div class="details-text">
                    <p>
                        {{pro.description}}
                    </p>
                </div>

            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-8">
                <div class="details-text">
                    <h5>
                        Topics for this course
                    </h5>
                    {% for res in topic %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="accordion my-2" id="accordionExample{{res.id}}">
                                <div class="accordion-item panel">
                                    <h2 class="accordion-header" id="headingTwo{{res.id}}">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo{{res.id}}"
                                            aria-expanded="false" aria-controls="collapseTwo{{res.id}}">
                                            {{res.video_title}}
                                        </button>
                                    </h2>
                                    <div id="collapseTwo{{res.id}}" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo{{res.id}}"
                                        data-bs-parent="#accordionExample{{res.id}}">
                                        <div class="accordion-body panel-body">
                                            {{res.description}}
                                            <video controls="true" id="vida{{res.id}}" name="videos" class="my-3 video">
                                                <source type="video/mp4" src="{{res.videofile.url}}">
                                                </source>
                                            </video>
                                            <div class="incomplete">
                                                <span>PROGRESS: <span class="status" id="status{{res.id}}"
                                                        style="color:#e47b18"> INCOMPLETE<i class="las la-play"></i>
                                                    </span>
                                                </span>
                                            </div>
                                            <div>
                                                <span id="played{{res.id}}">0</span> seconds out of
                                                <span id="duration{{res.id}}"></span> seconds. (only updates when the
                                                video
                                                pauses)
                                            </div>
                                            <script>
                                                var video = document.getElementById("vida{{res.id}}");

                                                var timeStarted = -1;
                                                var timePlayed = 0;
                                                var duration = 0;
                                                // If video metadata is laoded get duration
                                                if (video.readyState > 0)
                                                    getDuration.call(video);

                                                //If metadata not loaded, use event to get it
                                                else {
                                                    video.addEventListener('loadedmetadata', getDuration);
                                                }
                                                // remember time user started the video
                                                function videoStartedPlaying() {
                                                    timeStarted = new Date().getTime() / 1000;
                                                }

                                                function videoStoppedPlaying(event) {
                                                    // Start time less then zero means stop event was fired vidout start event
                                                    if (timeStarted > 0) {
                                                        var playedFor = new Date().getTime() / 1000 - timeStarted;
                                                        timeStarted = -1;
                                                        // add the new ammount of seconds played
                                                        timePlayed += playedFor;
                                                    }
                                                    document.getElementById("played{{res.id}}").innerHTML = Math.round(
                                                        timePlayed) + "";
                                                    // Count as complete only if end of video was reached
                                                    if (timePlayed >= duration && event.type == "ended") {
                                                        document.getElementById("status{{res.id}}").innerHTML =
                                                            "COMPLETE";
                                                    } else if (timePlayed >= duration && event.type != "ended") {
                                                        document.getElementById("status{{res.id}}").innerHTML =
                                                            "INCOMPLETE";
                                                    } else {
                                                        document.getElementById("status{{res.id}}").innerHTML =
                                                            "ON GOING";
                                                    }

                                                }

                                                function getDuration() {
                                                    duration = video.duration;
                                                    document.getElementById("duration{{res.id}}").appendChild(new Text(
                                                        Math.round(
                                                            duration) + ""));
                                                    console.log("Duration: ", duration);
                                                }

                                                video.addEventListener("play", videoStartedPlaying);
                                                video.addEventListener("playing", videoStartedPlaying);

                                                video.addEventListener("ended", videoStoppedPlaying);
                                                video.addEventListener("pause", videoStoppedPlaying);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Program Materials</h5>
                <div class="row">
                    {% for res in attach %}
                    <!-- Team item -->
                    <div class="col-md-6 my-2">
                        <div class="attachs rounded shadow-sm mx-auto text-center h-100">
                            <span class="small text-uppercase text-muted">{{res.file_name}}</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item">
                                    <a href="{{res.filepath.url}}" target="blank" class="social-link"><i
                                            class="fas fa-expand-alt"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="{{res.filepath.url}}" class="social-link" download="{{res.file_name}}">
                                        <i class="fas fa-file-download"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- End -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html'%}
{% endblock %}