{% extends 'base_alt.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar_alt.html'%}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="{%static 'img/new/gym-video.mp4'%}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>work harder, get stronger</h6>
            <h2>easy with our <em>gym</em></h2>
            <div class="main-button scroll-to-section">
                <a href="{% url 'register' %}">Become a member</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Featured workouts *******  -->
<section class="section" id="features">
    <div class="container">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>Discover <em>Today</em></h2>

            </div>
        </div>
        <section class="card-area">

            <!-- Card: City -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60"
                                        style="enable-background:new 0 0 60 60;" xml:space="preserve"
                                        class="card-front__icon">
                                        <g>
                                            <path
                                                d="M49.7,22c-1.1,0-2,0.9-2,2v32.2c0,1.1,0.9,2,2,2s2-0.9,2-2V24C51.7,22.9,50.8,22,49.7,22z" />
                                            <path d="M13,29.5c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3h20.8c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3h20.8c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7
                                       V7.1h24.8v15.3c0,1.1,0.9,2,2,2s2-0.9,2-2V5.1c0-1.1-0.9-2-2-2H3.7c-1.1,0-2,0.9-2,2v51c0,1.1,0.9,2,2,2s2-0.9,2-2V36.5H13
                                       c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3H13z" />
                                            <path d="M58,11.9c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.2c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0
                                       c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.2-0.1
                                       c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0c0,0,0,0,0,0
                                       c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0-0.1,0.1l-12.6,7.8
                                       c0,0,0,0,0,0c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2
                                       c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0v5.4H22.1
                                       c-1.1,0-2,0.9-2,2v28.9c0,1.1,0.9,2,2,2s2-0.9,2-2V29.3h17.3v26.9c0,1.1,0.9,2,2,2s2-0.9,2-2V21l8.6-5.3v40.5c0,1.1,0.9,2,2,2
                                       s2-0.9,2-2V12.1C58,12,58,12,58,11.9z" />
                                            <path
                                                d="M28,31L28,31c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S29.1,31,28,31z" />
                                            <path
                                                d="M33.5,31L33.5,31c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S34.6,31,33.5,31z" />
                                            <path
                                                d="M28,36L28,36c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S29.1,36,28,36z" />
                                            <path
                                                d="M33.5,36L33.5,36c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S34.6,36,33.5,36z" />
                                        </g>
                                    </svg>

                                    <h2 class="card-front__heading">
                                        Qualified Instructors
                                    </h2>

                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        View me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://player.vimeo.com/external/370331493.sd.mp4?s=e90dcaba73c19e0e36f03406b47bbd6992dd6c1c&profile_id=139&oauth2_token_id=57447761"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                For our Member
                            </h3>
                            <p class="inside-page__text">
                                As cities never sleep, there are always something going on, no matter what time!
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn--city">View deals</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Ski -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--ski">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60"
                                        style="enable-background:new 0 0 60 60;" xml:space="preserve"
                                        class="card-front__icon">
                                        <g>
                                            <path
                                                d="M58.8,54.5L38.5,19.3c-0.4-0.6-1-1-1.7-1s-1.4,0.4-1.7,1L14.8,54.5c-0.4,0.6-0.4,1.4,0,2c0.4,0.6,1,1,1.7,1h40.6
                                       c0.7,0,1.4-0.4,1.7-1C59.2,55.9,59.2,55.1,58.8,54.5z M36.8,24.3l5.8,10c-0.5-0.2-1.1-0.3-1.7-0.3c-2.5,0-3.7,1.5-4.6,2.5
                                       c-0.7,0.9-1,1.1-1.5,1.1s-0.8-0.2-1.5-1.1c-0.6-0.7-1.3-1.5-2.4-2.1L36.8,24.3z M20,53.5l8.9-15.4c0.5,0,0.7,0.3,1.4,1.1
                                       c0.8,1,2.1,2.5,4.6,2.5s3.7-1.5,4.6-2.5c0.7-0.9,1-1.1,1.5-1.1c0.5,0,0.8,0.2,1.5,1.1c0.8,1,2.1,2.5,4.5,2.5l6.8,11.8H20z" />
                                            <path d="M14.7,51.5c1.1,0,2-0.9,2-2s-0.9-2-2-2H6.4l9.1-15.7c0.6,0.6,1.5,1.3,2.9,1.3c1.8,0,2.8-1.2,3.3-1.8
                                       c0.1-0.1,0.2-0.2,0.3-0.3c0.1,0.1,0.2,0.2,0.3,0.3c0.5,0.6,1.5,1.8,3.3,1.8c1.1,0,2-0.9,2-2c0-1.1-0.9-2-1.9-2
                                       c-0.1-0.1-0.2-0.2-0.3-0.4c-0.5-0.6-1.5-1.8-3.3-1.8c-1.8,0-2.8,1.2-3.3,1.8c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1-0.1-0.2-0.2-0.3-0.3
                                       c-0.1-0.2-0.3-0.4-0.5-0.6l5.7-9.9l3.8,6.6c0.6,1,1.8,1.3,2.7,0.7c1-0.6,1.3-1.8,0.7-2.7L25,13.2c-0.4-0.6-1-1-1.7-1
                                       s-1.4,0.4-1.7,1l-8.4,14.5c-0.1,0.1-0.2,0.3-0.3,0.4L1.2,48.5c0,0,0,0.1,0,0.1c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2
                                       c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2C1,50,1,50,1,50.1
                                       c0,0.1,0,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1
                                       c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0.1,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0c0.1,0,0.3,0.1,0.5,0.1c0,0,0,0,0,0
                                       c0,0,0,0,0,0c0,0,0,0,0,0H14.7z" />
                                            <path d="M40.7,12.3h3.1l-2.2,2.2c-0.6,0.6-0.6,1.5,0,2.1c0.3,0.3,0.7,0.4,1.1,0.4s0.8-0.1,1.1-0.4l2.2-2.2v3.1
                                       c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5v-3.1l2.2,2.2c0.3,0.3,0.7,0.4,1.1,0.4s0.8-0.1,1.1-0.4c0.6-0.6,0.6-1.5,0-2.1l-2.2-2.2h3.1
                                       c0.8,0,1.5-0.7,1.5-1.5s-0.7-1.5-1.5-1.5h-3.1l2.2-2.2c0.6-0.6,0.6-1.5,0-2.1c-0.6-0.6-1.5-0.6-2.1,0L49,7.2V4
                                       c0-0.8-0.7-1.5-1.5-1.5S46,3.2,46,4v3.1l-2.2-2.2c-0.6-0.6-1.5-0.6-2.1,0c-0.6,0.6-0.6,1.5,0,2.1l2.2,2.2h-3.1
                                       c-0.8,0-1.5,0.7-1.5,1.5S39.9,12.3,40.7,12.3z" />
                                        </g>
                                    </svg>
                                    <h2 class="card-front__heading">
                                        Happy Members
                                    </h2>

                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--ski">
                                        View me
                                    </p>
                                </div>
                            </div>

                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://player.vimeo.com/external/195913085.sd.mp4?s=7c12f7a83de62a8900fd2ae049297070b9bc8a54&profile_id=164&oauth2_token_id=574477611"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--ski">
                                For Interested
                            </h3>
                            <p class="inside-page__text">
                                Love snow? Why not take up exciting ski-in sessions and hit the slope?
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn--ski">View deals</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Beach -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--beach">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60"
                                        style="enable-background:new 0 0 60 60;" xml:space="preserve"
                                        class="card-front__icon">
                                        <path d="M57.2,28h-7.4c-0.4-4-2-7.7-4.4-10.6l3.2-3.2c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0l-3.2,3.2c-3-2.4-6.6-4-10.6-4.4V2.8
                                   c0-1.1-0.9-2-2-2s-2,0.9-2,2v7.4c-4,0.4-7.7,2-10.6,4.4l-3.2-3.2c-0.8-0.8-2-0.8-2.8,0c-0.8,0.8-0.8,2,0,2.8l3.2,3.2
                                   c-2.4,3-4,6.6-4.4,10.6H2.8c-1.1,0-2,0.9-2,2s0.9,2,2,2h7.4c0.4,4,2,7.7,4.4,10.6l-3.2,3.2c-0.8,0.8-0.8,2,0,2.8
                                   c0.4,0.4,0.9,0.6,1.4,0.6s1-0.2,1.4-0.6l3.2-3.2c3,2.4,6.6,4,10.6,4.4v7.4c0,1.1,0.9,2,2,2s2-0.9,2-2v-7.4c4-0.4,7.7-2,10.6-4.4
                                   l3.2,3.2c0.4,0.4,0.9,0.6,1.4,0.6s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8l-3.2-3.2c2.4-3,4-6.6,4.4-10.6h7.4c1.1,0,2-0.9,2-2
                                   S58.3,28,57.2,28z M30,45.9c-8.8,0-15.9-7.2-15.9-15.9c0-8.8,7.2-15.9,15.9-15.9c8.8,0,15.9,7.2,15.9,15.9
                                   C45.9,38.8,38.8,45.9,30,45.9z" />
                                    </svg>

                                    <h2 class="card-front__heading">
                                        Tons of Equipments
                                    </h2>

                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--beach">
                                        View me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://player.vimeo.com/external/332588783.sd.mp4?s=cab1817146dd72daa6346a1583cc1ec4d9e677c7&profile_id=139&oauth2_token_id=57447761"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--beach">
                                For Gym lovers
                            </h3>
                            <p class="inside-page__text">
                                Relax and get sun-kissed tan in the sea or take up surfting for an adventure!
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn--beach">View deals</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Camping -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--camping">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60"
                                        style="enable-background:new 0 0 60 60;" xml:space="preserve"
                                        class="card-front__icon">
                                        <path d="M57,52.1c0-0.4-0.1-0.7-0.3-1.1l-6.3-10.8L32.4,9l2.3-4c0.6-1,0.2-2.2-0.7-2.7c-1-0.6-2.2-0.2-2.7,0.7L30,5.2L28.7,3
                                   c-0.6-1-1.8-1.3-2.7-0.7c-1,0.6-1.3,1.8-0.7,2.7l2.3,4l-18,31.1L3.3,51C3.1,51.3,3,51.7,3,52.1c0,0.4,0.1,0.7,0.3,1
                                   c0.4,0.6,1,1,1.7,1h50c0.7,0,1.4-0.4,1.7-1C56.9,52.8,57,52.4,57,52.1z M34.7,49.8C34.2,50,32.1,50,30,50s-4.2,0-4.7-0.2
                                   c-0.2-0.5-0.2-2.1-0.2-3.6l0-4.3c0-2.7,2.2-4.9,4.9-4.9s4.9,2.2,4.9,4.9l0,4.3C34.9,47.7,34.9,49.3,34.7,49.8z M13.1,42.1L28,16.5
                                   v16.7c-3.9,0.9-6.9,4.4-6.9,8.6l0,4.3c0,1.7,0,2.9,0.2,4H8.5L13.1,42.1z M38.7,50.1c0.2-1,0.2-2.3,0.2-4l0-4.3
                                   c0-4.2-2.9-7.7-6.9-8.6V16.5l15,25.7l4.6,7.9H38.7z" />
                                    </svg>
                                    <h2 class="card-front__heading">
                                        Relaxaton & Meditation
                                    </h2>

                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--camping">
                                        View me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://player.vimeo.com/external/180185916.sd.mp4?s=c893e4770f87b00e0d6b5a1de138b01b02aaa085&profile_id=164&oauth2_token_id=57447761"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--camping">
                                For Peace of Mind
                            </h3>
                            <p class="inside-page__text">
                                Get your boots on for some hiking and explore all the beautiful scenery of nature!
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn--camping">View deals</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>


<!-- ***** Featured workouts End *******  -->

<div class="container-fluid" id="call-to-action">
    <!-- Package Plan-->
    <div id="generic_price_table">

        <div class="container">

            <!--BLOCK ROW START-->
            <div class="row">
                {% for item in pkg %}
                <div class="col-md-3 my-3">
                    {% if item.highlight_status %}
                    <div class="generic_content active clearfix h-100 rounded">
                        {% else %}
                        <div class="generic_content clearfix h-100 rounded">
                            {% endif%}
                            <div>
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>{{item.title}}</span>
                                        </div>
                                    </div>
                                    <div class="generic_price_tag clearfix">
                                        <span class="price">
                                            <span class="sign">KES</span>
                                            <span class="currency">{{item.price | floatformat:0}}</span>
                                            <span class="cent"></span>
                                            <span class="month">/MONTH</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="generic_feature_list">
                                    <ul>
                                        {% for feature in item.subscriptionfeatures_set.all %}
                                        <li>{{feature.title}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="generic_price_btn clearfix">
                                {% if user.is_authenticated %}
                                <a class="" href="{% url 'payment' item.id %}">Enroll Now</a>
                                {% else %}
                                <a class="" href="{% url 'login' %}">Enroll Now</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- endPackage Plan-->
</div>
<!-- ***** Features Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        
    </div>
    <div class="container d-flex flex-wrap gap-5 pt-3 justify-content-start">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img class="profile-picture"
                        src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/08/18/10/bmi-measuring-0.jpg"
                        width="300px" height="300px">
                    <div class="profile-devider"></div>
                    <h3 class="profile-name">Know your BMI</h3>
                    <h4 class="profile-title">Measure you Body Mass Index</h4>
                </div>
                <div class="back text-center">
                    <h3 class="profile-name">Your BMI</h3>
                    <p>The body mass index (BMI) is a measure that uses your height and weight to work out if your
                        weight is healthy.

                        The BMI calculation divides an adult's weight in kilograms by their height in metres squared.
                        For example, A BMI of 25 means 25kg/m2.</p>
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                        data-bs-target="#bmiCalculator">
                        Calculate your BMI
                    </button>
                </div>
            </div>
        </div>

        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img class="profile-picture"
                        src="https://nutritionalassessment.mumc.nl/sites/nutritionalassessment/files/styles/inline_1500/public/uploads/belly-2354_1280_0.jpg"
                        width="300px" height="300px">
                    <div class="profile-devider"></div>
                    <h3 class="profile-name"> Know your WHR</h3>
                    <h4 class="profile-title">Measure your Waist to Hip Ratio </h4>
                </div>
                <div class="back text-center">
                    <h3 class="profile-name"> Your WHR</h3>
                    <p>
                        Waist-to-hip ratio (WHR) is one of several measurements your doctor can use to see if excess
                        weight is putting your health at risk.
                        WHR measures the ratio of your waist circumference to your hip circumference. It determines how
                        much fat is stored on your waist, hips, and buttocks.
                        Not all excess weight is the same when it comes to your health risks.
                    </p>
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                        data-bs-target="#whrcalculator">
                        Calculate your WHR
                    </button>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ***** Features Item End ***** -->
<!-- ***** Personal training ***** -->





<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Ready today? <br> Have your own <em>Peronal Training</em>!</h2>
                    <p>Experience an effective <strong> online personal training system</strong> to achieve the body transformation
                        results you want with Shape n Tone 360 online</p>
                    <div class="main-button scroll-to-section">
                        <a href="{% url 'personal' %}">Check it out &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->




<div class="container">
    <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
            <h2>Recent <em> Articles</em></h2>

        </div>
    </div>
    <div class="row mx-auto">
        {% for list in posts %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="course_card">
                <div class="course_card_img"><img src="{{ list.image.url }}" alt="course" /></div>
                <div class="course_card_content">
                    <h3 class="title text-capitalize">{{ list.headline | safe }}</h3>
                    <p class="description">{{ list.content | safe | truncatewords_html:20 }}</p>
                </div>
                <div class="course_card_footer">
                    <a class="nav-item" href="{% url 'article_detail' list.slug %}">Learn More <i
                            class="las la-chevron-right"></i></a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                    <p>Experience an effective online personal training system to achieve the body transformation
                        results you want with Shape n Tone 360 online</p>
                    <div class="main-button scroll-to-section">
                        <a href="{% url 'register' %}">Become a member</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Contact Us Area Starts ***** -->
<section class="section" id="contact-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div id="map">
                    <iframe
                        src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                        placeholder="Your Email*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" id="subject" placeholder="Subject">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Message"
                                        required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Us Area Ends ***** -->
{% include 'footer.html'%}

<!-- Modal For WHR-->
<div class="modal fade" id="whrcalculator" tabindex="-1" aria-labelledby="whrcalculatorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whrcalculatorLabel">Calculate Your WHR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="WHRform">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Your waist circumfrence(cm)</label>
                        <input type="text" class="form-control" name="waist" id="waist" required>
                        <div id="waist" class="form-text">Enter Your Waist Circumfrence</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Your Hip Circumfrence(cm)</label>
                        <input type="text" class="form-control" name="hip" id="hip" required>
                        <div id="hip" class="form-text">Enter Your HIp Circumfrence</div>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" name="gender" id="gender">
                            <option selected disabled value="">Select Gender</option>
                            <option value="1">Female</option>
                            <option value="2">Male</option>
                        </select>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p id="output3" style="color: green;" class="my-4">
                    <p id="output4" style="color: #e47b18;" class="my-2">


                    </p>
                </form>


            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
<!-- Modal for BMI -->
<div class="modal fade" id="bmiCalculator" tabindex="-1" aria-labelledby="bmiCalculatorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bmiCalculatorLabel">Calculate Your BMI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="BMIform">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Your Weight(kgs)</label>
                        <input type="text" class="form-control" name="weight" id="weight" required>
                        <div id="weight" class="form-text">Enter your weight in kgs</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Your Height(ft)</label>
                        <input type="text" class="form-control" name="height" id="height" required>
                        <div id="height" class="form-text">Enter your height in fts</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p id="output" style="color: green;" class="my-4">
                    <p id="output2" style="color: #e47b18;" class="my-2">
                    </p>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $(document).on('submit', '#BMIform', function (e) {
        e.preventDefault();
        let height = $("#height").val()
        let weight = $("#weight").val()

        if (height != "" && weight != "") {
            $.ajax({
                type: "POST",
                url: "{% url 'landing' %}",
                data: {
                    height: parseFloat(height),
                    weight: parseFloat(weight),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function () {
                    $("#height").val("")
                    $("#weight").val("")
                }
            })
        } else {
            alert("missing input")
        }
        if (isNaN(weight) && isNaN(height) == true) {
            alert("not a number")
        } else {
            console.log("success")
            if (weight > 0 && height > 0) {
                let BMI = (weight / ((height / 3.2808) ** 2)).toFixed(4)
                let target1 = (18.5 * ((height / 3.2808) ** 2)).toFixed(2)
                let target2 = (24.9 * ((height / 3.2808) ** 2)).toFixed(2)

                if (BMI < 18.5) {
                    $("p#output").append(`Underweight. Your BMI is ${BMI}`)
                    $("p#output2").append(`Your target weight is between: ${target1} and ${target2}`)


                } else if (BMI <= 24.9) {
                    $("p#output").append(`Healthy. Your BMI is ${BMI}`)
                } else if (BMI <= 29.9) {
                    $("p#output").append(`Overweight. Your BMI is ${BMI}`)
                    $("p#output2").append(`Your target weight is between: ${target1} and ${target2}`)

                } else {
                    $("p#output").append(`Obese. Your BMI is ${BMI}`)
                    $("p#output2").append(`Your target weight is between: ${target1} and ${target2}`)

                }
                
            } else {
                $("p#output").append(`Height and weight cannot be negative. Your BMI is ${BMI}`)
            }
        }
    })


    $(document).on('submit', '#WHRform', function (e) {
        e.preventDefault();
        let waist = $("#waist").val()
        let hip = $("#hip").val()
        let gender = $("#gender").val()
        console.log(waist, hip, gender)

        if (waist != "" && hip != "" && gender != "") {
            $.ajax({
                type: "POST",
                url: "{% url 'landing' %}",
                data: {
                    waist: parseFloat(waist),
                    hip: parseFloat(hip),
                    gender: (gender),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function () {
                    $("#waist").val("")
                    $("#hip").val("")
                    $("#gender").val("")

                }
            })
        } else {
            alert("missing input")
        }
        if (isNaN(waist) && isNaN(hip) == true) {
            alert("not a number")
        } else {
            if (waist > 0 && hip > 0) {
                let WHR = (waist / hip).toFixed(4)

                if (gender == "1") {

                    if (WHR <= 0.81) {
                        $("p#output3").append(`Low WHR. Your WHR is ${WHR}`)
                        $("p#output4").append(`Your target WHR Should be less than ${0.85} `)


                    } else if (WHR <= 0.85) {
                        $("p#output3").append(`Moderate WHR. Your WHR is ${WHR}`)


                    } else {
                        $("p#output3").append(`High WHR Your WHR is ${WHR}`)
                        $("p#output4").append(`Your target WHR should be less than : ${0.85} `)

                    }
                } else if (gender == "2") {
                    if (WHR <= 0.96) {
                        $("p#output3").append(`Low WHR. Your WHR is ${WHR}`)
                        $("p#output4").append(`Your target WHR Should be less than ${1.0} `)


                    } else if (WHR <= 1.0) {
                        $("p#output3").append(`Moderate WHR. Your WHR is ${WHR}`)


                    } else {
                        $("p#output3").append(`High WHR Your WHR is ${WHR}`)
                        $("p#output4").append(`Your target WHR should be less than : ${1.0} `)
                    }

                } else {
                    $("p#output3").append(`Entered wrong gender`)


                }
            } else {
                $("p#output3").append(`Hip and waist cannot be negative.`)
            }
        }
    })
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock content %}