{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar.html'%}
<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="hero1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="header">
                                    <h3>
                                        <span class="br">BUILD YOUR</span>
                                        <div class="scroller">
                                            <span>
                                                CORE STRENGTH<br />
                                                SIX PACK<br />
                                                MUSCLE<br />
                                            </span>
                                        </div>
                                    </h3>
                                    <p>
                                        Get personalized training sessions to find out the best workout routine, and
                                        build the body you aspire to have.
                                    </p>
                                    <button type="submit" class="btn">Contact Us <i
                                            class="las la-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header">
                                    <img src="../../../static/img/5.png" class="img-fluid" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-3">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-5">
                <div class="apps">
                    <img src="../../../static/img/7.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="card p-3 fit-card">
                    <h3 class="pb-4">
                        Get Fit With Personal Fitness Trainer
                    </h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card h-100 box mx-auto text-center wow slideInLeft" data-wow-duration="2s"
                                data-wow-delay="5s">
                                <p>
                                    Build your dream body with high paced workout classes.
                                    Stay healthy and fit every day with regular cardio training sessions.
                                </p>
                                <i class="las la-dumbbell"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100 box mx-auto text-center wow slideInLeft" data-wow-duration="2s"
                                data-wow-delay="5s">
                                <p>
                                    Stretch your body to the limits and learn to calm your mind
                                    with my yoga and meditation classes. Build your strength and muscle mass.
                                </p>
                                <i class="las la-dumbbell"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card h-100 box mx-auto text-center wow slideInLeft" data-wow-duration="2s"
                                data-wow-delay="5s">
                                <p>
                                    Take your workout to new heights and learn about balance, strength and footwork with
                                    kickboxing classes.
                                    Build your strength and muscle mass with advanced bodybuilding.
                                </p>
                                <i class="las la-burn"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="joins">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header plan-head">
                    <h3 class="mx-auto mb-4 text-center">
                        WHY YOU JOIN WITH US
                    </h3>
                    <div class="plan-p mx-auto text-center">
                        <p>
                            Stretch your body to the limits and learn to calm your mind with my yoga and meditation
                            classes.
                            Build your strength and muscle mass
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card join-card">
                            <div class="emoji">
                                <i class="las la-dumbbell"></i>
                            </div>
                            <h3>

                                Qualified Instructor
                            </h3>
                            <p>
                                Stretch your body to the limits and learn to calm your mind with my yoga and meditation
                                classes. Build your strength and muscle mass.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card join-card">
                            <div class="emoji">
                                <i class="las la-dumbbell"></i>
                            </div>
                            <h3>
                                Ralaxation & Meditation
                            </h3>
                            <p>
                                Stretch your body to the limits and learn to calm your mind with my yoga and meditation
                                classes. Build your strength and muscle mass.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../../static/img/1.webp" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card join-card">
                            <div class="emoji">
                                <i class="las la-smile"></i>
                            </div>
                            <h3>

                                Happy Member
                            </h3>
                            <p>
                                Stretch your body to the limits and learn to calm your mind with my yoga and meditation
                                classes. Build your strength and muscle mass.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card join-card">
                            <div class="emoji">
                                <i class="las la-dumbbell"></i>
                            </div>
                            <h3>

                                fTons of Equipment
                            </h3>
                            <p>
                                Stretch your body to the limits and learn to calm your mind with my yoga and meditation
                                classes. Build your strength and muscle mass.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="plan">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header plan-head">
                    <h3 class="mx-auto mb-4 text-center">
                        Our Plan
                    </h3>
                    <div class="plan-t mx-auto text-center">
                        <p>
                            Experience an effective online personal training system to achieve the
                            body transformation results you want with Shape n Tone 360 online.
                        </p>
                        <p>
                            No matter where you are in the world, our tailored online program gives you the same proven
                            methods, data-driven approach and culture of
                            accountability that have helped many of our clients achieve remarkable results
                        </p>
                        <p>
                            All plans start with a consultation followed by an initial 6 weeks commitment package, with
                            an
                            option to continue on a month to month basis.
                            This ensures accountability and a result driven partnership between us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card plan-card mx-auto h-100 text-center">
                    <h4>Bronze</h4>
                    <h3>Ksh 1,200 Initial
                        Package
                    </h3>
                    <p> - FREE Initial Consultation</p>
                    <p> - Smartphone App Access</p>
                    <p> - Exercise Video Library</p>
                    <p> - Tailored Workouts & Exercise Programme</p>
                    <p> - Weekly Check-ins</p>
                    <p> - Micronutrient Guidance</p>
                    <h3>Ksh 1000/month</h3>
                    <a href="{% url 'login' %}" class="btn" type="button">Enroll Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card plan-card mx-auto h-100 text-center">
                    <h4>Silver</h4>
                    <h3>Ksh 15,000 Initial
                        Package
                    </h3>
                    <p> - FREE Initial Consultation</p>
                    <p> - Includes real-time home training with trainer via video (upto 3 x 60 min sessions per week)
                    </p>
                    <p> - Smartphone App Access</p>
                    <p> - Exercise Video Library</p>
                    <p> - Tailored Workouts & Exercise Programme</p>
                    <p> - Twice Weekly Phone or Video Check-ins</p>
                    <p> - Nutritional Guidance and Advice For Meal Preparation</p>
                    <h3>Ksh 12,000/month</h3>
                    <a href="{% url 'login' %}" class="btn" type="button">Enroll Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card plan-card mx-auto h-100 text-center">
                    <h4>Gold</h4>
                    <h3>Ksh 20,000 Initial
                        Package
                    </h3>
                    <p> - FREE Initial Consultation</p>
                    <p> - Includes real-time home training with

                        trainer via video (upto 5 x 60 min sessions per week)
                    </p>
                    <p> - Smartphone App Access</p>
                    <p> - Exercise Video Library</p>
                    <p> - Tailored Workouts & Exercise Programme</p>
                    <p> - Fitness Goal Setting and Advice</p>
                    <p> - 24-7 Support via Phone and Video</p>
                    <p> - Roadmap to Achieve Fitness Journey</p>
                    <p> - Fully Supported Nutrition Guidance Including Regular Reviews</p>
                    <p> - FREE Micronutrient Guide E-Booklet Including Meal Examples</p>
                    <h3 style="margin-bottom: 5rem;">Ksh 15,000/month</h3>
                    <a href="{% url 'login' %}" class="btn" type="button">Enroll Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="workout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h3 class="mx-auto mb-4 text-center">
                        Popular Workouts
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 h-100 w-cards" style="background: whitesmoke;">
                    <div class="anim">
                        <img src="../../../static/img/icons/1.png" class="img-fluid" alt="" srcset="">
                        <h3>
                            Yoga & Meditation
                        </h3>
                        <p>
                            Stretch your body to the limits and learn to calm your mind with my yoga and
                            meditation
                            classes
                        </p>
                        <a href="#">Find Out More <i class="las la-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 h-100 w-cards" style="background: #dadcd7">
                    <div class="anim">
                        <img src="../../../static/img/icons/2.png" class="img-fluid" alt="" srcset="">
                        <h3>
                            Bodybuilding & Crossfit
                        </h3>
                        <p>
                            Build your strength and muscle mass with advanced bodybuilding and crossfit classes.
                        </p>
                        <a href="#">Find Out More <i class="las la-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 h-100 w-cards" style="background: #E8F8F5">
                    <div class="anim">
                        <img src="../../../static/img/icons/3.png" class="img-fluid" alt="" srcset="">
                        <h3>
                            Zumba Fitness
                        </h3>
                        <p>
                            Reenergize yourself with high paced zumba fitness dance workout classes. Incididunt ut
                            labore et dolore.
                        </p>
                        <a href="#">Find Out More <i class="las la-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-4">
                <div class="card p-3 h-100 w-cards" style="background: #d4e2eb">
                    <div class="anim">
                        <img src="../../../static/img/icons/4.png" class="img-fluid" alt="" srcset="">
                        <h3>
                            Cardio Training
                        </h3>
                        <p>
                            Stay healthy and fit every day with regular cardio training sessions. Perfect for beginners.
                        </p>
                        <a href="#">Find Out More <i class="las la-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 h-100 w-cards" style="background: #FCF3CF ">
                    <div class="anim">
                        <img src="../../../static/img/icons/5.png" class="img-fluid" alt="" srcset="">
                        <h3>
                            Kickboxing
                        </h3>
                        <p>
                            Take your workout to new heights and learn about balance, strength and footwork with
                            kickboxing classes.
                        </p>
                        <a href="#">Find Out More <i class="las la-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 h-100 w-cards" style="background: #FCF3CF ">
                    <div class="anim">
                        <img src="../../../static/img/icons/5.png" class="img-fluid" alt="" srcset="">
                        <h3>
                            Know Your BMI
                        </h3>
                        <p>
                            Take your workout to new heights and learn about balance, strength and footwork with
                            kickboxing classes.
                        </p>
                        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Find Out More <i
                                class="las la-arrow-right"></i></a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Calculate Your BMI</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="BMIform">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Your Weight(kgs)</label>
                                        <input type="text" class="form-control" name="weight" id="weight" required>
                                        <div id="weight" class="form-text">Enter your weight in kgs</div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Your Height(ft)</label>
                                        <input type="text" class="form-control" name="height" id="height" required>
                                        <div id="height" class="form-text">Enter your height in fts</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <p id="output" style="color: green;" class="my-4">

                                    </p>
                                </form>
                                <p>
                                    {{status}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<script>
    $(document).on('submit', '#BMIform', function (e) {
        e.preventDefault();
        let height = $("#height").val()
        let weight = $("#weight").val()

        if (height != "" && weight != "") {
            $.ajax({
                type: "POST",
                url: "{% url 'landing' %}",
                data: {
                    height: parseFloat(height),
                    weight: parseFloat(weight),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function () {
                    $("#height").val("")
                    $("#weight").val("")
                }
            })
        } else {
            alert("missing input")
        }
        if (isNaN(weight) && isNaN(height) == true) {
            alert("not a number")
        } else {
            if (weight > 0 && height > 0) {
                let BMI = (weight / ((height / 3.2808) ** 2)).toFixed(4)
                if (BMI < 18.5) {
                    $("p#output").append(`Underweight. Your BMI is ${BMI}`)
                } else if (BMI <= 24.9) {
                    $("p#output").append(`Healthy. Your BMI is ${BMI}`)
                } else if (BMI <= 29.9) {
                    $("p#output").append(`Overweight. Your BMI is ${BMI}`)
                } else {
                    $("p#output").append(`Obese. Your BMI is ${BMI}`)
                }
            } else {
                $("p#output").append(`Height and weight cannot be negative. Your BMI is ${BMI}`)
            }
        }
    })
</script>


{% include 'footer.html'%}
{% endblock %}