{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar.html'%}
<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="hero1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="header">
                                    <h3>
                                        <span class="br">BUILD YOUR</span>
                                        <div class="scroller">
                                            <span>
                                                CORE STRENGTH<br />
                                                SIX PACK<br />
                                                MUSCLE<br />
                                            </span>
                                        </div>
                                    </h3>
                                    <p>
                                        Get personalized training sessions to find out the best workout routine, and
                                        build the body you aspire to have.
                                    </p>
                                    <button type="submit" class="btn">Get Started <i
                                            class="las la-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header">
                                    <img src="../../../static/img/5.png" class="img-fluid" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}