{% extends 'base_alt.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar_alt.html'%}
<div class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>ALL PROGRAMS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <section class="details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header ">
                    <div class="a-hero mx-auto text-center">
                        <h3>
                            <span>ALL PROGRAMS</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header plan-head">
                    <div class="row mb-5">
                        {% for res in pro %}
                        <div class="col-md-4 my-2">
                            <div class="card hover-div p-3 mb-2 h-100">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="las la-burn"></i> </div>
                                        <div class="ms-2 c-details">
                                            <h6 class="mb-0">Level</h6> <span>{{res.level}}</span>
                                        </div>
                                    </div>
                                    <div class="badge"> <span>{{res.status}}</span> </div>
                                </div>
                                <div class="mt-5">
                                    <div class="proImage">
                                        <img src="https://res.cloudinary.com/enock/{{res.image}}" class="img-fluid"
                                            height="" alt="" srcset="">
                                    </div>
                                    <h5 class="heading my-2">{{res.title}}</h5>
                                    <div class="mt-3">
                                        <div class="mytext" style="display: inline-block;">
                                            <span class="text1">Last Updated <span class="text2">
                                                    {{res.last_update}}</span>
                                            </span>
                                        </div>
                                        <div class=" my-2 links">
                                            {% if 'Free' in res.status%}
                                            <span class="text1">Fee: <span class="text2">
                                                    Free</span>
                                            </span>
                                            <a href="{% url 'details' res.id %}" type="button" class="btn">Enroll Now<i
                                                    class="las la-angle-double-right"></i>
                                            </a>

                                            {% else %}
                                                <span class="text1">Fee: <span class=" text2">
                                                        Kshs {{res.price}}</span>

                                                </span>
                                                {% if request.user.is_authenticated %}
                                                <a href="{% url 'payment' %}" type="button" class="btn">Enroll Now<i
                                                        class="las la-angle-double-right"></i>
                                                </a>
                                                {% else %}
                                                <a href="{% url 'login' %}" type="button" class="btn">Enroll Now<i
                                                        class="las la-angle-double-right"></i>
                                                </a>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.hover-div').hover(function () {
            $('.hover-div').stop().fadeTo('fast', 0.3);
            $(this).stop().fadeTo('fast', 1);
        }, function () {
            $('.hover-div').stop().fadeTo('fast', 1);
        });
    });
</script>
{% include 'footer.html'%}
{% endblock %}