@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Luckiest+Guy&family=Nunito+Sans&display=swap');

:root {
    --blue1: #3c37f1;
    --blue2: #1998ff;
    --whitesmoke: whitesmoke;
    --white: #ffff;
    --white2: #dadcd7;
    --green: #16A085;
    --green2: #00d663;
    --red: #ff3333;
    --pink: #fa65b1;
    --main: #e47b18;
    --main2: #f58f5b;
    --purple: #302cc1;
    --purple2: #726ae3;
    --light-dark: #49494A;
    --font1: 'Baloo Bhaijaan 2', cursive;
    --font2: 'Nunito Sans', sans-serif;
    --font3: 'Luckiest Guy', cursive;
    --normal-font-size: 1rem;
    --header-font-size: 1.8rem;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--white2);
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    background: var(--red);
    margin-top: -1rem;
}

/* navbar brand skew */
.navbar-brand {
    background-color: var(--white);
    /* border-radius: 41% 58% 60% 52% / 35% 80% 16% 51%; */
    transform: skew(20deg);
    margin-bottom: -.5rem;
}

.navbar .nav-item .nav-link.active {
    color: var(--blue1);
    font-family: var(--font1);

}

.navbar .nav-item .dropdown-menu {
    background: var(--main2);
    /* above bg to take navbar's color */
    padding: 1rem;
    padding-top: 1rem;
}

/* check on screen responsiveness */
.navbar .nav-item .dropdown-menu .dropdown-item {
    color: var(--white);
    font-family: var(--font1);
    font-size: .9rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: var(--blue1);
}

@media screen and (min-width: 768px) {
    .navbar .nav-item .nav-link {
        color: var(--white);
        font-family: var(--font1);
        margin-right: 1.7rem;
    }
}

.navbar .nav-item .nav-link {
    color: var(--white);
}

.navbar .nav-item:hover .nav-link {
    color: var(--blue1);
}

.d-flex button {
    background: var(--red);
    border: 2px solid var(--red);
    font-family: var(--font1);
    color: #000;
}

/* navbar */
@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
        border-radius: 10px 20px;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

/* hero */
.hero {
    background-color: var(--red);
    height: auto;
    width: 100%;
    border-radius: 10% 10% 50% 55% / 0% 0% 100% 100%;
}

.hero1 {
    background-color: var(--red);
    min-height: 70vh;
    margin-right: -2rem;
    border-radius: 10% 100% 0% 100% / 0% 0% 100% 100%;
}

.header {
    margin-top: 7rem;

}

.header h3 {
    padding-top: 4rem;
    margin-left: 1rem;
    color: var(--white);
    font-family: var(--font2);
    font-size: 5rem;
    font-weight: bold;
}

.br {
    color: var(--purple)
}

.header p {
    font-family: var(--font2);
    margin-top: 30px;
    padding-left: 2rem;
    color: white;
}

.header button {
    background: var(--blue2);
    color: white;
    font-family: var(--font1);
    border: 2px solid var(--blue2);
    border-radius: 30px;
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-left: 3rem;
}

.header button:hover {
    background: var(--main);
    color: white;
    border: 2px solid var(--main);
}

.header img {
    height: 700px;
    width: auto;
    float: right;
}

/* Scroller styling */
.scroller {
    height: 1.2em;
    line-height: 1.3em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
    font-weight: bold;

}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.4em;
    }

    75% {
        top: -3.6em;
    }
}

#status span.status {
    display: none;
    font-weight: bold;
  }
  span.status.complete {
    color: green;
  }
  span.status.incomplete {
    color: red;
  }
  #status.complete span.status.complete {
    display: inline;
  }
  #status.incomplete span.status.incomplete {
    display: inline;
  }
  .video {
      height: 400px;
      width: 100%;
  }
  .incomplete span {
      font-weight: bolder;
      font-family: var(--font1);
      color: #000;
  }
#auths{
     background: linear-gradient(to right, #444a4a, #ff3333) !important;
}
.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}
input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

.btn-blue:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: var(--main2);
    cursor: pointer
}