.workout-detail {
  padding: 1em;
  width: 100%;
}
.workout-detail__info {
  padding: 1em;
}
.workout-detail__info h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.workout-detail__info h3 span {
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
}
.workout-detail__info p::first-letter {
  text-transform: capitalize;
}
.workout-detail .exercise__title {
  text-transform: uppercase;
  color: gray;
}
.workout-detail .exercise video {
  width: 100%;
}