{% extends 'base_alt.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Profile : {% endblock title %}
{% block content %}
{% include 'navbar_alt.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<div class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="row">
        <div class="col-md-12">
          <h1>Profile</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="details">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-3 border-right" style="background-color: whitesmoke; color: black;">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="{{info.profilePic.url}}">
          <span class="font-weight-bold my-2">{{info.names}}</span>
          <span class="text-dark"><span class="text-dark my-2">Gender:</span>
            {{info.gender}}</span>
          <span class="text-dark"><span class="text-dark my-2">Age: </span> {{age}}</span>
          <span class="text-dark"><span class="text-dark my-2">Contacts:</span> {{info.contacts}}</span>
          <span>
          </span>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn d-flex btn-warning w-100 d-block text-success font-medium">
              BMI <span class="badge ms-auto bg-success">{{bmi}}</span>
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn d-flex btn-warning  w-100 d-block text-success font-medium">
              WHR <span class="badge ms-auto bg-success">{{whr}}</span>
            </button>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-6">
            <button type="button" class="btn d-flex btn-warning w-100 d-block text-success font-medium">
              Calories <span class="badge ms-auto bg-success">{{bmi}}</span>
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn d-flex btn-warning   w-100 d-block text-success font-medium">
              Body Fat <span class="badge ms-auto bg-success">{{BFP}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5 border-right bg-light">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <form action="{% url 'userinfo' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="form-label">Gender</label>
                <select class="form-select" name="gender">
                  <option selected disabled value="{{info.gender}}">Select Gender</option>
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                  <option value="2">Other</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Contacts</label>
                <input type="text" class="form-control" name="contact">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="form-label">Date of Birth</label>
                <input type="date" name="date_of_birth" class="form-control" value="{{info.dta_of_birth}">
                <div id=" date_of_birth" class="form-text">Enter Your Date of Birth </div>
              </div>
              <div class="col-md-12 mt-3">
                <label class="form-label">Upload Profile Image</label>
                <input type="file" class="form-control" name="profilePic" />
                <div id="photos" class="form-text">Select Your Profile Image</div>
              </div>
            </div>
            <div class="mt-2">
              <button class="btn btn-primary button-41" type="submit"> Update User Info</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4" style="background: whitesmoke;">
        <div class="row">
          <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div style="z-index: 11; margin-top:1rem">
              <div class="toast show w-100 bg-success text-white border-0 align-items-center mt-2" aria-live="assertive"
                aria-atomic="true" role="alert" data-bs-delay="1000">
                <div class="toast-header">
                  <strong class="me-auto">Success</strong>
                  <button type="button" class="btn-close btn-close-dark me-2 m-auto" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                  <p>{{message}}</p>
                </div>
              </div>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div style="z-index: 11; margin-top:1rem">
              <div class="toast show w-100 bg-danger text-white border-0 align-items-center mt-2" aria-live="assertive"
                aria-atomic="true" role="alert" data-bs-delay="1000">
                <div class="toast-header">
                  <strong class="me-auto">Ooopps!</strong>
                  <button type="button" class="btn-close btn-close-dark me-2 m-auto" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                  <p>{{message}}</p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
          <div class="p-3 py-3">
            <div class="d-flex justify-content-between align-items-center">
              <span>Workout Settings</span>
              <form action="{% url 'report' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn button-41 repo"><i class="fa fa-plus"></i>
                  &nbsp; Generate Report</button>
              </form>
            </div><br>
            <div class="row">
              <div class="col-md-12">
                <div class="accordion my-2" id="workoutdata">
                  <div class="accordion-item panel">
                    <h2 class="accordion-header" id="workoutheader">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Add Workout Info
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="workoutheader"
                      data-bs-parent="#workoutdata">
                      <div class="accordion-body panel-body">
                        <form action="{% url 'workout' %}" method="post">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-md-12">
                              <label class="labels">Weight (KGS)</label>
                              <input type="text" class="form-control" placeholder="Enter your weight in Kgs"
                                name="weight">
                            </div>
                            <div class="col-md-12">
                              <label class="labels">Height(cm)</label>
                              <input type="text" class="form-control" placeholder="Enter Height in CM" name="height">
                            </div>
                            <div class="col-md-12">
                              <label class="labels">Waist Circumference (cm)</label>
                              <input type="text" class="form-control" placeholder="Enter Waist Circumference in CM"
                                name="waist">
                            </div>
                            <div class="col-md-12">
                              <label class="labels">Hip Circumference(cm)</label>
                              <input type="text" class="form-control" placeholder="Enter Hip Circumference in CM"
                                name="hip">
                            </div>
                          </div>
                          <button class="btn btn-success mt-3  button-41" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion my-2" id="workoutGoals">
                  <div class="accordion-item panel">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Add Workout Goals
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#workoutGoals">
                      <div class="accordion-body panel-body">
                        <form action="{% url 'goals' %}" method="post">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-md-12">
                              <label class="labels"> Workout Goal</label>
                              <textarea class="form-control" name="goals" rows="5"></textarea>
                            </div>
                          </div>
                          <button class="btn btn-success mt-3  button-41" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="toast show w-100 mt-5">
                  <div class="toast-header">
                    <strong class="me-auto">Disclaimer!!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                  </div>
                  <div class="toast-body">
                    <p>Update your workout info regularly for the system to create a more personalized report about your
                      workout progress.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- <section class="details my-5" style="background:red">

  </div>
  </div>
</section> -->


{% include 'footer.html'%}
{% endblock %}