{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{% include 'navbar.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<section class="details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header ">
          <div class="a-hero mx-auto text-center">
            <h3>
              <span>Welcome To Your Gallery</span>
            </h3>
          </div>
        </div>
        <div class="addPic">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPhotos"> <i
              class="las la-plus"></i> Add Photos</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="my-4">
  <div class="myDIV">Hover over me.</div>
  <div class="hide">I am shown when someone hovers over the div above.</div>
  <!-- Gallery -->
  <div class="row">
    {% for res in album %}
    <div class="col-md-4 mb-4 card hover-div p-3 mb-2 h-100">
      <img src="https://res.cloudinary.com/dzaf0ojhc/{{res.pic}}"
        class=" myDIV w-100 shadow-1-strong rounded mb-4 img-fluid" alt="" />
      <div class="mytext hide"">
          <span class=" text1">Uploaded <span class="text2">
          {{res.date_added}}</span>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Gallery -->
</section>
<!-- Add Photo Modal -->
<div class="modal fade" id="addPhotos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addPhotosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPhotosLabel">Upload Photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form action="{% url 'gallery' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <label class="form-label">Upload 1 or Multiple Photos at Once</label>
              <input class="form-control" type="file" multiple name="addPhoto">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal -->



{% include 'footer.html'%}
{% endblock %}