{% extends 'base_alt.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Gallery : {% endblock title %}
{% block content %}
{% include 'navbar_alt.html'%}

<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
<div class="hero">
  <div class="container">
      <div class="hero-content">
          <div class="row">
              <div class="col-md-12">
                  <h1>Welcome To Your Gallery</h1>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <section class="details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header ">
          <div class="a-hero mx-auto text-center">
            <h3>
              <span>Welcome To Your Gallery</span>
            </h3>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section> -->

<section class="my-4">
  <div class="tz-gallery px-3">
    <div class="row">
      {% for res in album %}
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 pb-3">
        <a class="lightbox" href="https://res.cloudinary.com/enock/{{res.pic}}">
          <div class="thumbnail">
            <img class="w-100" src="https://res.cloudinary.com/enock/{{res.pic}}" alt="Bridge">
          </div>
        </a>
      </div>
      {% endfor %}
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 pb-3">

        <div class="addPic rounded" title='add Picture'>
          <span data-bs-toggle="modal" data-bs-target="#addPhotos"> 
            <i class="las la-plus"></i> </span>
        </div>
      </div>
    </div>

</section>
<!-- Add Photo Modal -->
<div class="modal fade" id="addPhotos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addPhotosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPhotosLabel">Upload Photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form action="{% url 'gallery' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <label class="form-label">Upload 1 or Multiple Photos at Once</label>
              <input class="form-control" type="file" multiple name="addPhoto">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<!-- End Modal -->
<script>
  baguetteBox.run('.tz-gallery');
</script>

{% include 'footer.html'%}
{% endblock %}