{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>{% block title %}{% endblock title %} Victor Fitness</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">

    {% block styles %}
    {% bootstrap_css %}
 
    {% include 'links/css_2.html' %}
    {% endblock %}

    {% include 'links/css_cdn.html' %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/new/bootstrap.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/new/font-awesome.css'%}">

    <link rel="stylesheet" href="{% static 'css/new/style.css'%}"> -->

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    {% block content %}
    
    {% endblock content %}
    
    
    

   
    
    

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->

    {% bootstrap_javascript %}
    <!-- <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> -->

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script> 
    <script src="{% static 'js/mixitup.js' %}"></script> 
    <script src="{% static 'js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>