<section class="footer">
    <div class="container-fluid">
        <div class="row" style="display:flex">
            <div class="col-md-4">
                <div class="f-logo">
                    <h6>
                        About Us
                    </h6>
                    <p>
                        Build your dream body with high paced workout classes. Stay healthy and fit every day.
                    </p>
                    <p>
                        <i class="las la-map-marker-alt" style="color:#048c38;"></i> Head office | 6th Floor | Mirage,
                        Westlands
                    </p>
                    <p>
                        <i class="las la-phone-volume" style="color:#048c38;"></i> +254 700 000 000
                    </p>
                    <p>
                        <i class="lar la-envelope" style="color:#048c38;"></i> info@fitness.co.ke
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="f-logo">
                    <h6>
                        Useful Links
                    </h6>
                    <ul>
                        <li>
                            <a href="{% url 'landing' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="">Body Building</a>
                        </li>
                        <li>
                            <a href="">Body Building</a>
                        </li>
                        <li>
                            <a href="">Body Building</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="f-logo">
                    <h6>
                        Follow Us:
                    </h6>
                    <button class="btn"><i class="lab la-facebook-f"></i></button>
                    <button class="btn"><i class="lab la-twitter"></i></button>
                    <button class="btn"><i class="lab la-instagram"></i></button>

                    <p>
                        <i class="lar la-copyright" style="color:#048c38;"></i>
                        Copyright 2021 <span class="brs"> Shape n Tone</span>

                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <img src="../../static/img/Logo/1.png" class="img-fluid" alt="" srcset="">
                <div class="f-logo">
                    <button onclick="topFunction()" id="myBtn" title="Go to top"><i
                            class="las la-angle-double-up"></i></i></button>
                </div>
            </div>
        </div>
</section>